.blockquote,
blockquote {
  font-size: smaller;
  margin: 1rem 0 !important;
  border: 1px solid #eee;
  border-left: 8px solid #6c757d;
  border-radius: 0.25rem;
  padding: 1em 1em 1em 2em;
  margin: 1rem 0em;
}

.blockquote .title,
blockquote .title {
  display: block;
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.blockquote p,
blockquote p {
  margin: 0;
}

.blockquote.primary {
  border-left-color: #007bff;
}

.blockquote.primary .title {
  color: #007bff;
}

.blockquote.secondary {
  border-left-color: #6c757d;
}

.blockquote.secondary .title {
  color: #6c757d;
}

.blockquote.success {
  border-left-color: #28a745;
}

.blockquote.success .title {
  color: #28a745;
}

.blockquote.info {
  border-left-color: #17a2b8;
}

.blockquote.info .title {
  color: #17a2b8;
}

.blockquote.warning {
  border-left-color: #ffc107;
}

.blockquote.warning .title {
  color: #ffc107;
}

.blockquote.danger {
  border-left-color: #dc3545;
}

.blockquote.danger .title {
  color: #dc3545;
}

.blockquote.light {
  border-left-color: #f8f9fa;
}

.blockquote.light .title {
  color: #f8f9fa;
}

.blockquote.dark {
  border-left-color: #343a40;
}

.blockquote.dark .title {
  color: #343a40;
}
